.dishes {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/restaurant-img24-420x212.jpg');
    /* background-size: cover; */
    background-attachment: fixed;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.dishPlate {
    position: relative;
}

.imgDishes {
    text-align: center;
}

.imgDishes img {
    width: 500px;
}

.price {
    width: 100px;
    height: 100px;
    background-color: rgb(235, 62, 62);
    /* padding: 15px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -30px;
}